.ql-editor ol.decimal-list,
.ql-editor li.decimal-list-item {
  counter-reset: decimal-list;
}

.ql-editor ol.decimal-list > li::before {
  counter-increment: decimal-list;
  content: counter(decimal-list) ". ";
}

.ql-editor ol.decimal-list > li.ql-indent-1::before {
  content: "1." counter(decimal-list) ". ";
}

.ql-editor ol.decimal-list > li.ql-indent-2::before {
  content: "1.1." counter(decimal-list) ". ";
}

.ql-editor ol.decimal-list > li.ql-indent-3::before {
  content: "1.1.1." counter(decimal-list) ". ";
}

.ql-editor ol.decimal-list > li.ql-indent-4::before {
  content: "1.1.1.1." counter(decimal-list) ". ";
}

.ql-editor ol.decimal-list > li.ql-indent-5::before {
  content: "1.1.1.1.1." counter(decimal-list) ". ";
}

.ql-editor ol.decimal-list > li.ql-indent-6::before {
  content: "1.1.1.1.1.1." counter(decimal-list) ". ";
}

.ql-editor ol.decimal-list > li.ql-indent-7::before {
  content: "1.1.1.1.1.1.1." counter(decimal-list) ". ";
}

.ql-editor ol.decimal-list > li.ql-indent-8::before {
  content: "1.1.1.1.1.1.1.1." counter(decimal-list) ". ";
}

.ql-editor ol.decimal-list > li.ql-indent-9::before {
  content: "1.1.1.1.1.1.1.1.1." counter(decimal-list) ". ";
}
